<div class="headercontainer container-fluid">
  <nav class="navbar">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="-flex text-center flex-grow-1 flex-column">Lost Paradise</h1>
      <div class="reviews">
        <a href="https://book-directonline.com/properties/lostparadisedirect">
          <img src="assets/BookingButton/Button/Booking_1920px.svg" />
        </a>
      </div>
    </div>
  </nav>
  <hr class="solid" />
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-row mb-1">
          <button
            type="button"
            class="btn-close me-auto"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <h1 class="modal-title text-center me-auto" id="exampleModalLabel">
            Lost Paradise
          </h1>
        </div>

        <div class="d-flex text-center flex-grow-1 flex-column mb-1">
          <p><a routerLink="">Home</a></p>
          <p><a routerLink="/story">Story</a></p>
          <p><a routerLink="/resort">Resort</a></p>
          <p><a routerLink="/accomodation">Accomodation</a></p>
        <!--<p><a href="/explore">Explore The Island</a></p>-->
          <p><a routerLink="/bar">General Lee's Bar</a></p>
          <p><a routerLink="/contact">Contact</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


