<div class="row">
  <div class="col-2">
    <div class="stackParent">
      <img
        class="stack-Img img-fluid"
        src="LostParadise/assets/Images/5bec2cd760b39f2ba54c06d2c109939a.jfif"
      />
      <div class="stack-Txt">
        <p class="text-center text-nowrap">Resort 49.2107581N, 16.6188150E</p>
      </div>
    </div>
  </div>
</div>

<h1>A peaceful yet vibrant venue gently hidden among the coconut tree groves</h1>
<p>Lost Paradise is a tropical Island resort gently hidden among the coconut tree groves of Gili Trawangan Island - Indonesia. We used only natural building materials and traditional building techniques to capture the spirit of Indonesian heritage, yet with all the modern amenities you need for a comfortable stay. Located far enough from the busy main road, still within walking, or even better cycling distance to every corner of the Island.  In which ever way you choose to spend your days, wether it’s reading a book by the pool or Island exploration, Lost Paradise will provide a home away from home that stands out from the crowd. We put a great amount of pride into our hospitality and the saying, “Come as a stranger, leave as a friend” has never been more true.</p>
<h1>Reading a book by the pool or Island exploration</h1>

<h1>Renowned for it’s world class diving, night life and pristine beaches</h1>