<h1>Contact us</h1>

<div class="card cardbox border-0 mx-auto justify-content-start" style="width: 38rem;">
    <div class="d-flex flex-column mb-8">
        <hr class="solid p-0" />
        <div class="cardtext p-0">Lost Paradise</div>
        <div class="cardtext p-0">Gili Trawangan</div>
        <div class="cardtext p-0">Lombok, Nusa Tenggara Barat</div>
        <div class="cardtext p-0">Indonesia 83356</div>
        <hr class="solid p-1" />
        </div>
    </div>
    
<hr class="solid p-4" />

<h1>How to get here</h1>

<h2>From Bali</h2>
<p>If you are traveling from Bali, then your travel agent usually includes shuttle bus transfer to the harbour with pick-up at your hotel early morning (The prices vary depending of season). If you want to do the journey by your self, then boats depart from Padang Bai harbour in eastern Bali in the mornings, around 09:00am. Some companies offer a late departure around 10:30am. The journey on the seas to the Gili Islands takes around 2h.</p>
<h2>From Lombok</h2>
<p>If you are traveling from Lombok, there are public boats going to the Gili Islands from Bangsal harbour in the north-west. There are a lot of people in the harbour that will try to sell you various boat tickets to the islands but if you are fine traveling the local way, then a "Public boat ticket" from the small counter by the parking lot will do the job just fine. The price is only around 25.000rp per person to Gili Trawangan and the transfer takes around 25-30 minutes. The public boats depart regularly every day from early morning until around 05:00pm.
</p>
<h2>Already in Gili</h2>
<p>When you arrive in Gili Trawangan, head towards the middle of the Island, simply by following Google maps (It’s a 15 minute walk). If you are carrying a lot of luggage we suggest you jump on one of the Islands own horse drawn "Taxis" and they will bring you all the way. If you are coming from the sunset beach side of the Island, then take the short cut that is located next to “Casa vintage” and “Gili teak” and head inland. (Lost Paradise is only 5 minutes away.)</p>
