  
  .headercontainer{
    height: 112px;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
  }

.hamburger-menu {
    position: fixed;
    align-self: left;
    z-index: 2;
  }
  .menu-icon {
    cursor: pointer;
    display: block;
  }
  #menu-toggle {
    display: none;
  }
  #menu-toggle:checked + .menu-icon + .dropdown {
    display: block;

  }
  .dropdown {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 100%;

  }
  .dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;

  }
  .dropdown ul li a {

    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 12px 16px;
  }
  .dropdown ul li a:hover {
    background-color: #ddd;
  }

.headertext{
    flex: 1; 
    text-align: center;
    margin-left: center;

}

.booking{
    align-self: right;
    margin-left: auto;
}