


.headercontainer{
  height: 112px;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.headertext{
    flex: 1; 
    text-size-adjust: 20px;
    text-align: center;
    margin-left: center;
    font-family: 'LpFontRegItal';
    width: 3px;
    height: 10px;
    top: 0px;
    left: 4px;
    
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: #ddd;
    text-decoration: none;
    align-self: right;
    margin-left: auto;
}