<header>
    <div class="headercontainer">
<!-- burger-->

        <div class="hamburger-menu">
            <input type="checkbox" id="menu-toggle"/>
            <label for="menu-toggle" class="menu-icon">&#9776; Menu</label>
            <nav class="dropdown">
                <ul>
                <li><a href="">Home</a></li>
                <li><a href="/story">Story</a></li>
                <li><a href="/resort">Resort</a></li>
                <li><a href="/accomodation">Accomodation</a></li>
                <li><a href="/explore">Explore The Island</a></li>
                <li><a href="/bar">General Lee's Bar</a></li>
                <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
  
    <!-- HEADER COVER TEXT-->
    <div class="headertext">
        <h1>Lost Paradise</h1>
    </div>

    <!-- HEADER BOOKING BUTTON
    <div class="booking" >
        <a href="https://book-directonline.com/properties/lostparadisedirect">
            <img src="../../assets/BookingButton/Button/Booking_1920px.svg"/>
        </a>
    </div>
-->
    </div>
</header>