<h1 class="faqheader text-center">FAQ</h1>

<div class="d-flex flex-column">

  <div
    class="d-flex p-4 flex-row"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample">
    <div class="left">Where can we book tours and boat transfers?</div>
    <div class="separator"></div>
    <div class="right">+</div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card border-0 card-body text-center">
      Some placeholder content for the collapse component. This panel is hidden
      by default but revealed when the user activates the relevant trigger.
    </div>
  </div>

  <div
    class="d-flex p-4 flex-row"
    data-bs-toggle="collapse"
    href="#collapseExample2"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample2">
    <div class="left">Are there dangerous animals in Indonesia?</div>
    <div class="separator"></div>
    <div class="right">Right With Text</div>
  </div>
  <div class="collapse" id="collapseExample2">
    <div class="card border-0 card-body text-center">
      Some placeholder content for the collapse component. This panel is hidden
      by default but revealed when the user activates the relevant trigger.
    </div>
  </div>

  <div
    class="d-flex p-4 flex-row"
    data-bs-toggle="collapse"
    href="#collapseExample3"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample3">
    <div class="left">Do you offer twin beds?</div>
    <div class="separator"></div>
    <div class="right">Right With Text</div>
  </div>
  <div class="collapse" id="collapseExample3">
    <div class="card border-0 card-body text-center">
      Some placeholder content for the collapse component. This panel is hidden
      by default but revealed when the user activates the relevant trigger.
    </div>
  </div>

  <div
    class="d-flex p-4 flex-row"
    data-bs-toggle="collapse"
    href="#collapseExample4"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample4">
    <div class="left">Can we have an extra bed?</div>
    <div class="separator"></div>
    <div class="right">Right With Text</div>
  </div>
  <div class="collapse" id="collapseExample4">
    <div class="card border-0 card-body text-center">
      Some placeholder content for the collapse component. This panel is hidden
      by default but revealed when the user activates the relevant trigger.
    </div>
  </div>


  <div
  class="d-flex p-4 flex-row"
  data-bs-toggle="collapse"
  href="#collapseExample5"
  role="button"
  aria-expanded="false"
  aria-controls="collapseExample5">
  <div class="left">Is smoking allowed in the room?</div>
  <div class="separator"></div>
  <div class="right">Right With Text</div>
</div>
<div class="collapse" id="collapseExample5">
  <div class="card border-0 card-body text-center">
    Some placeholder content for the collapse component. This panel is hidden
    by default but revealed when the user activates the relevant trigger.
  </div>
</div>

<div
class="d-flex p-4 flex-row"
data-bs-toggle="collapse"
href="#collapseExample6"
role="button"
aria-expanded="false"
aria-controls="collapseExample6">
<div class="left">We carry a lot of luggage, will someone pick us up?</div>
<div class="separator"></div>
<div class="right">Right With Text</div>
</div>
<div class="collapse" id="collapseExample6">
<div class="card border-0 card-body text-center">
  Some placeholder content for the collapse component. This panel is hidden
  by default but revealed when the user activates the relevant trigger.
</div>
</div>

<div
class="d-flex p-4 flex-row"
data-bs-toggle="collapse"
href="#collapseExample7"
role="button"
aria-expanded="false"
aria-controls="collapseExample7">
<div class="left">How do we extend our stay?</div>
<div class="separator"></div>
<div class="right">Right With Text</div>
</div>
<div class="collapse" id="collapseExample7">
<div class="card border-0 card-body text-center">
  Some placeholder content for the collapse component. This panel is hidden
  by default but revealed when the user activates the relevant trigger.
</div>
</div>

<div
class="d-flex p-4 flex-row"
data-bs-toggle="collapse"
href="#collapseExample8"
role="button"
aria-expanded="false"
aria-controls="collapseExample8">
<div class="left">How is the monsoon in Gili?</div>
<div class="separator"></div>
<div class="right">Right With Text</div>
</div>
<div class="collapse" id="collapseExample8">
<div class="card border-0 card-body text-center">
  Some placeholder content for the collapse component. This panel is hidden
  by default but revealed when the user activates the relevant trigger.
</div>
</div>

<div
class="d-flex p-4 flex-row"
data-bs-toggle="collapse"
href="#collapseExample9"
role="button"
aria-expanded="false"
aria-controls="collapseExample9">
  <div class="left">Is the electric grid strong in the Island?</div>
  <div class="separator"></div>
  <div class="right">Right With Text</div>
</div>
    <div class="collapse" id="collapseExample9">
      <div class="card border-0 card-body text-center">
        Some placeholder content for the collapse component. This panel is hidden
        by default but revealed when the user activates the relevant trigger.
      </div>
  </div>
</div>
