
<h1>Privacy Policy</h1>
<div class="ingresstext">Effective Date: 01/09/2023</div>
<div class="ingresstext">At Lost Paradise, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard your information when you visit our resort or use our services. By accessing or using our facilities and services, you consent to the practices described in this policy.</div>

<h2>Information We Collect</h2>
<div class="ingresstext">We may collect various types of information to provide you with the best experience during your stay at Lost Paradise:</div>
<div>
    <ol class="ingresstext" type="1">
        <li>Personal Information: This includes your name, contact details, billing information, and any other information you provide during reservation, check-in, or interactions with our staff.</li>
        <li>Payment Information: We collect payment-related information to process your bookings and payments securely. This may include credit card details or other payment methods.</li>
        <li>Communication Data: We may collect information from your communications with us, such as inquiries, feedback, and requests for assistance.</li>
        <li>Usage Information: We gather information about your interactions with our facilities, services, and website, including the pages you visit, the services you use, and the duration of your stay.</li>
        <li>Technical Data: This includes information about the device and browser you use to access our website and services, such as IP address, browser type, and operating system.</li>
    </ol>
</div>


<h2>How We Use Your Information</h2>
<div class="ingresstext">We use the collected information for various purposes, including:</div>
<div>    
    <ol class="ingresstext" type="1">
    <li>Reservation and Stay: To process your reservations, check-ins, and ensure your comfortable stay at our resort.</li>
    <li>Communication: To respond to your inquiries, requests, and provide information about our services.</li>
    <li>Payment Processing: To process payments, refunds, and manage billing for the services you use.</li>
    <li>Improvement: To enhance our services, facilities, and website based on your feedback and usage patterns.</li>
    <li>Security: To protect against fraud, unauthorized access, and to ensure the safety of our guests and staff.</li>
    <li>Legal Obligations: To comply with legal requirements, including reporting to relevant authorities when necessary.</li>
</ol>
</div>


<h2>Information Sharing</h2>
<div class="ingresstext">We do not sell, trade, or rent your personal information to third parties. However, we may share your information with:</div>
<div>    
    <ol class="ingresstext" type="1">
    <li>Service providers who assist us in providing our services (e.g., payment processors, IT support).</li>
    <li>Legal authorities when required by law or to protect our rights, privacy, safety, or property.</li>
</ol>
</div>


<h2>Your Choices</h2>
<div class="ingresstext">You have the right to:</div>
<div>    
    <ol class="ingresstext" type="1">
    <li>CofAccess, correct, or update your personal information.fee</li>
    <li>Opt out of marketing communications.</li>
    <li>Request the deletion of your personal data, subject to legal obligations.</li>
</ol></div>


<h2>Security</h2>
<div class="ingresstext">We implement appropriate security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction.</div>


<h2>Changes to This Policy:</h2>
<div class="ingresstext">We may update this Privacy Policy from time to time. We encourage you to review it periodically for any changes.</div>


<h2>Contact Us</h2>
<div class="ingresstext">If you have any questions, concerns, or requests regarding your personal information or this Privacy Policy, please contact us at Lost Paradise. By using our services and facilities, you agree to the terms of this Privacy Policy.</div>
<div class="ingresstext">Lost Paradise</div>
<div class="ingresstext">Gili Trawangan</div>
<div class="ingresstext">Lombok, Nusa Tenggara Barat</div>
<div class="ingresstext">Indonesia 83356</div>
<div class="ingresstext">Email Info&#38;Lostparadisegili.com</div>
<div class="ingresstext">Last updated: 01/09/2023</div>
