<div class="row">
  <div class="col-2">
    <div class="stackParent">
      <img class="stack-Img img-fluid" src="../../assets/Images/island.jpg" />
      <div class="stack-Txt">
        <p class="text-center text-nowrap">Resort 49.2107581N, 16.6188150E</p>
      </div>
    </div>
  </div>
</div>

<p class="covertext1 text-center">
  Lost Paradise started out as a dream to create a paradise in paradise
</p>
<p class="minitext text-center">
  Lost Paradise tells the story of the journey it took to turn a dream into
  reality. Who would have thought a journey like that would take well over 10
  years to accomplish. In the beginning there was an empty plot of land and our
  only source of electricity came from one of our neighbours through a 500m long
  cable hanging from the coconut trees. Only just enough to power one fan and
  one light bulb, or charge your phone but not all at the same time. And with no
  other surrounding neighbours, no road and only salt water in our well, we
  slowly came to the realisation that the road to success was not going to be an
  easy one.
</p>
<p class="minitext text-center">
  Wood sourced from Borneo, loaded onto trucks through Java, crossing the
  straight to Bali, yet another ferry to Lombok and from the beaches in north
  Lombok loaded onto small boats headed for the Gili Islands. The final stretch
  by horse drawn carriages. An intricate logistical process through Indonesia
  that took years to master so that finally we had all the material we needed to
  build what was going to become Lost Paradise. Our first guest, a solo female
  traveller must have been petrified finding herself on a construction site in
  the middle of an Island surrounded by iron meshing, sacks of cement, and cubic
  upon cubic of old dark wood. We opened our doors with only one room finished,
  with a fan and a light bulb.
</p>
<p class="minitext text-center">
  The great earthquake that destroyed more than a hundred thousand homes in the
  north Lombok regency also hit us. It was a great setback and a tragedy for
  everyone involved. After months of renovations we were finally ready to move
  on just when alarms were sounded that Balis great volcano Mt. Agung was going
  to have an eruption. Smoke was rising from the crater, flights got canceled,
  people were evacuated and once again all tourism vanished. Fortunately the
  eruption never happened and we could continue where we had left off. On that
  new years eve, for the first time, all rooms were booked and guests were
  celebrating at the bar. Only to three months later see the arrival of Covid
  that put us in two years of lockdown.
</p>
<p class="covertext1 text-center">
  Thank you to all of you who have come and stayed with us and to all of you who
  have supported us along the way. We could never have done it without you.
</p>
