<div class="row">
  <div class="col-2">
    <div class="stackParent">
      <img class="stack-Img img-fluid" src="../../assets/Images/island.jpg" />
      <div class="stack-Txt">
        <div class="text-center text-nowrap">Resort 49.2107581N, 16.6188150E</div>
      </div>
    </div>
  </div>
</div>

<h1>Lost Paradise started out as a dream to create a paradise in paradise</h1>

<p class="minitext text-center">
  Lost Paradise tells the story of the journey it took to turn a dream into
  reality. Who would have thought a journey like that would take well over 10
  years to accomplish. In the beginning there was an empty plot of land and our
  only source of electricity came from one of our neighbours through a 500m long
  cable hanging from the coconut trees. Only just enough to power one fan and
  one light bulb, or charge your phone but not all at the same time. And with no
  other surrounding neighbours, no road and only salt water in our well, we
  slowly came to the realisation that the road to success was not going to be an
  easy one.
</p>

<div class="gridcard container-fluid">
  <div class="bigcard mx-auto" style="width: 58rem">

    <div class="card-body">
      <img class="card-img-top img-fluid" src="../../../assets/Images/widebungalow.jpg"/>
      <p class="card-text text-center">
        Lost Paradise is a place for art, the people who make it and the people
        who love it. Our apartments are really
      </p>
      <p class="card-text text-center">-1-</p>
    </div>
  </div>
</div>


<p class="minitext text-center">
  Wood sourced from Borneo, loaded onto trucks through Java, crossing the
  straight to Bali, yet another ferry to Lombok and from the beaches in north
  Lombok loaded onto small boats headed for the Gili Islands. The final stretch
  by horse drawn carriages. An intricate logistical process through Indonesia
  that took years to master so that finally we had all the material we needed to
  build what was going to become Lost Paradise. Our first guest, a solo female
  traveller must have been petrified finding herself on a construction site in
  the middle of an Island surrounded by iron meshing, sacks of cement, and cubic
  upon cubic of old dark wood. We opened our doors with only one room finished,
  with a fan and a light bulb.
</p>

<div class="row border container-fluid">
  <div class="col p-4  border-end">
    <div class="card" style="width: 28rem">
      <img
        class="card-img-top"
        src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center">
          Lost Paradise is a place for art, the people who make it and the
          people who love it. Our apartments are really
        </p>
        <p class="card-text text-center">-1-</p>
      </div>
    </div>
  </div>
  <div class="col  p-4 ">
    <div class="card" style="width: 28rem">
      <img
        class="card-img-top"
        src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center">
          Lost Paradise is a place for art, the people who make it and the
          people who love it. Our apartments are really
        </p>
        <p class="card-text text-center">-1-</p>
      </div>
    </div>
  </div>
</div>

<h1>Good reviews started coming in, and after a few weeks the second room was finished, then the third…</h1>

<div class="bigcard border mx-auto" style="width: 58rem">

  <div class="card-body">
    <img class="card-img-top img-fluid" src="../../../assets/Images/widebungalow.jpg"/>
    <p class="card-text text-center">
      Lost Paradise is a place for art, the people who make it and the people
      who love it. Our apartments are really
    </p>
    <p class="card-text text-center">-1-</p>
  </div>
</div>

<p class="minitext text-center">
  The great earthquake that destroyed more than a hundred thousand homes in the
  north Lombok regency also hit us. It was a great setback and a tragedy for
  everyone involved. After months of renovations we were finally ready to move
  on just when alarms were sounded that Balis great volcano Mt. Agung was going
  to have an eruption. Smoke was rising from the crater, flights got canceled,
  people were evacuated and once again all tourism vanished. Fortunately the
  eruption never happened and we could continue where we had left off. On that
  new years eve, for the first time, all rooms were booked and guests were
  celebrating at the bar. Only to three months later see the arrival of Covid
  that put us in two years of lockdown.
</p>

<div class="row border container-fluid">
  <div class="col p-4  border-end">
    <div class="card border-0" style="width: 28rem">
      <img
        class="card-img-top"
        src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
        alt="Card image cap"
      />
    </div>
  </div>
  <div class="col  p-4 ">
    <div class="card border-0" style="width: 28rem">
      <img
        class="card-img-top"
        src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
        alt="Card image cap"
      />
    </div>
  </div>
</div>

<p class="minitext text-center">
  But we used the time well and our beautiful swimming pool came into place and the garden went into bloom and when we opened our doors again we realised that what we had was a full on kick ass resort. The final step from construction work into hospitality was the final great leap into a field where we are masters of the trade and not even a global recession can shake us now. We are very proud to present to you, and welcome you at Lost Paradise. A story of old wood, cold beer and purple sunsets. Who would have thought it would take well over 10 years to accomplish.
</p>

<div class="gridcard container-fluid">
  <div class="bigcard mx-auto" style="width: 58rem">

    <div class="card-body">
      <img class="card-img-top img-fluid" src="../../../assets/Images/widebungalow.jpg"/>
      <p class="card-text text-center">
        Lost Paradise is a place for art, the people who make it and the people
        who love it. Our apartments are really
      </p>
      <p class="card-text text-center">-1-</p>
    </div>
  </div>
</div>


<h1>Thank you to all of you who have come and stayed with us and to all of you who have supported us along the way. We could never have done it without you.</h1>
<div class="signaturetext">Martin Henry Vrana</div>
<div class="bigcard border mx-auto" style="width: 58rem">

  <div class="card-body">
    <img class="card-img-top img-fluid" src="../../../assets/Images/widebungalow.jpg"/>
    <p class="card-text text-center">
      Lost Paradise is a place for art, the people who make it and the people
      who love it. Our apartments are really
    </p>
    <p class="card-text text-center">-1-</p>
  </div>
</div>