<footer>
    <div class="footercontainer">



<!-- FOOTER ADRESS TEXT-->
<div class="footeradresstext">
    <p>Lost Paradise</p>
    <p>Gili Trawangan</p>
    <p>Lombok, Nusa Tenggara Barat</p>
    <p>Indonesia 83356</p>
</div>


<!-- FOOTER LINKS LIST -->
<div class="footernavlinklist">
        <ul>
        <p><a href="">Home</a></p>
        <p><a href="/story">Story</a></p>
        <p><a href="/resort">Resort</a></p>
        <p><a href="/accomodation">Accomodation</a></p>
        <p><a href="/explore">Explore The Island</a></p>
        <p><a href="/bar">General Lee's Bar</a></p>
        <p><a href="/contact">Contact</a></p>
        </ul>
</div>


<!-- FOOTER REVIEWS BUTTON -->
<div class="reviews" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterReviewsButton/Button/Reviews/1920px.svg"/>
    </a>
</div>

<!-- FOOTER FACEBOOK BUTTON -->
<div class="facebook" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterFacebook/Button/Socials/1920px.svg"/>
    </a>
</div><!-- FOOTER INSTAGRAM BOOKING BUTTON -->

<div class="instagram" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterInstagram/Button/Socials/1920px.svg"/>
    </a>
</div>
</div>
</footer>