.footercontainer{
    height: 112px;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'LpFontReg';
  }
  .footernavlinklist{
    text-decoration: none;

    
  }
  .footernavlinklist:link{
    text-decoration: none;

  }

  a {
    color:black;
    text-decoration: none;
  }