<footer>
    <div class="footercontainer">



<!-- FOOTER ADRESS TEXT-->
<div class="footeradresstext">
    <h1>Lost Paradise
        Gili Trawangan
        Lombok, Nusa Tenggara Barat
        Indonesia 83356</h1>
</div>


<!-- FOOTER LINKS LIST -->
<div>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/story">Story</a></li>
        <li><a href="/resort">Resort</a></li>
        <li><a href="/accomodation">Accomodation</a></li>
        <li><a href="/explore">Explore The Island</a></li>
        <li><a href="/bar">General Lee's Bar</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
</div>


<!-- FOOTER REVIEWS BUTTON -->
<div class="reviews" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterReviewsButton/Button/Reviews/1920px.svg"/>
    </a>
</div>

<!-- FOOTER FACEBOOK BUTTON -->
<div class="facebook" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterFacebook/Button/Socials/1920px.svg"/>
    </a>
</div><!-- FOOTER INSTAGRAM BOOKING BUTTON -->

<div class="instagram" >
    <a href="https://book-directonline.com/properties/lostparadisedirect">
        <img src="../../assets/FooterInstagram/Button/Socials/1920px.svg"/>
    </a>
</div>
</div>
</footer>