.stackParent {
  position: relative;
}

/* make image responsive */
.stack-Img {
  padding-top: 0%;
  max-width: 95vw;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 80vw;
  width: 95vw;
  height: auto;
}
.stack-Txt {
  font-family: "LpFontReg";
  padding-left: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  /* Lost Paradise */

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.15em;
  font-variant: small-caps;
}

.covertext1 {
  font-family: "LpFontReg";
  font-size: 56px;
  margin-left: 20%;
  margin-right: 20%;
}

.minitext {
  font-family: "LpFontReg";
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: justified;
}

.headercontainer {
  font-family: "LpFontReg";

  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 10;
}

.openinghours {
  width: Fixed (898px);
  height: Fixed (116px);
  top: 1979px;
  left: 511px;
  padding: 13 54 13 54;
  border-radius: 20;
  border: 1px;
}

.openhourss {
  border: 1px solid black;
  border-radius: 20px;
}

.card {
  padding: 2vw;
  margin: 0 auto;
  border-width: thin;
  border-style: solid;
  border-color: black;
}

.card-text {
  font-family: "LpFontReg";
  display: block;
}

.hr {
  padding: 0px;
  margin: 0px;
}

.vl {
  border-width: thin;

  border-left: 1px solid black;
  height: 100%;
}

.gridcard {
  background-image: url("../../assets/Images/gridbackground.svg");
  height: 800px;
  width: 100%;
}

.bigcard {
  top: 15%;

  padding: 3vw;
  position: relative;
  margin: auto;
  background-color: white;
}
