<p>bar works!</p>
<img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="img-fluid" alt="...">
<img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="img-fluid" alt="...">
<img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="img-fluid" alt="...">
<img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="img-fluid" alt="...">
<img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="img-fluid" alt="...">
