
<div class="row">
    <div class="col-2">
      <div class="stackParent">
        <img class="stack-Img img-fluid" src="../../assets/Images/5bec2cd760b39f2ba54c06d2c109939a.jfif">
        <div class="stack-Txt">
          <p class="text-center text-nowrap ">General Lee’s Bar 49.2107581N, 16.6188150E</p>
        </div>
      </div>
    </div>
  </div>


  <p class="covertext1 text-center">Is it a Colombian cocaine smugglers landing strip? Is it a mirage in the desert?</p>
  <p class="minitext text-center">No, it’s General Lee’s Tavern serving classic cocktails and frosty Bintangs from 4 PM til late! Next to all the classics like Gin & Tonic and Cosmopolitan we also have a selection of fresh and popular rum based drinks like Caipirinha and Mojito, or try one of the house favorites. Skinny bitch (Vodka, soda, lime) and of course shaken Margharitas and Lee’s Sunrise for all fans of tequila!</p>



  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="openhours card-text">Opening Hours (mo - su)</p>
      <p class="timetext card-text">4:00 pm - 11:00 pm</p>
    </div>
  </div>


  <hr class="solid">

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-center">Lost Paradise is a place for art, the people who make it and the people who love it. Our apartments are really</p>
            <p class="card-text text-center">-1-</p>
          </div>
        </div>      
      </div>
      <div class="col  d-flex align-items-center justify-content-center">
        <div class="vl"></div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-center">Lost Paradise is a place for art, the people who make it and the people who love it. Our apartments are really</p>
            <p class="card-text text-center">-1-</p>
          </div>
        </div>      
      </div>
    </div>
  </div>

  <hr class="solid">


  <p class="covertext1 text-center">General Lee’s Tavern Cocktails, great tunes n’ good vibes</p>
