


<div class="row">
  <div class="col-2">
    <div class="stackParent">
      <img class="stack-Img img-fluid" src="../../assets/Images/island.jpg">
      <div class="stack-Txt">
        <p class="text-center text-nowrap ">Lost paradise 49.2107581N, 16.6188150E</p>
      </div>
    </div>
  </div>
</div>

<div class="story-container1">
</div>

<p class="storytext text-center">Lost Paradise started out as a dream to create a paradise in paradise</p>

<p class="accomotext text-center">Charming bungalows embedded in nature, each with it’s own unique character and style</p>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/Images/island.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/waterfall-bungalow-mountain-accommodation-bali-eco-stay.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/Images/jungle-swing-tegallalang-ubud-bali-darren-lawrence.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
  <div class="col-2">
    <div class="stackParent">
      <img class="mapsect mx-auto img-fluid" src="../../assets/Images/island-map.svg">
    </div>
  </div>
</div>


