<div style="width: 1920px; height: 5657px; position: relative; background: #F8F7F3">
    <div style="width: 1820px; height: 1214px; left: 50px; top: 111px; position: absolute">
      <img style="width: 1914px; height: 1276px; left: 0px; top: -62px; position: absolute" src="https://via.placeholder.com/1914x1276" />
      <div style="left: 741.44px; top: 1149px; position: absolute; text-align: center; color: white; font-size: 22px; font-family: Catalogue LL; font-weight: 400; line-height: 28px; letter-spacing: 3.30px; word-wrap: break-word">– scroll to explore –</div>
      <div style="left: 536px; top: 597px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 40.59px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 30px; font-family: Catalogue LL; font-weight: 400; line-height: 40px; letter-spacing: 4.50px; word-wrap: break-word">Restaurant</div>
        <div style="text-align: center; color: white; font-size: 30px; font-family: Catalogue LL; font-weight: 400; line-height: 40px; letter-spacing: 4.50px; word-wrap: break-word">49.2107581N, 16.6188150E</div>
      </div>
    </div>
    <div style="height: 116px; padding-left: 54px; padding-right: 54px; padding-top: 13px; padding-bottom: 13px; left: 50px; top: 2075px; position: absolute; background: #F8F7F3; border-radius: 20px; border: 1px #B5B1A9 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; flex: 1 1 0; justify-content: flex-start; align-items: center; gap: 55px; display: inline-flex">
        <div style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 28px; display: flex">
          <div style="flex: 1 1 0; text-align: justify; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">Breakfast</div>
          <div style="text-align: right; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">8:00am – 10:30am</div>
        </div>
        <div style="width: 90px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 1px black solid"></div>
        <div style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 28px; display: flex">
          <div style="flex: 1 1 0; text-align: justify; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">Pool Bar</div>
          <div style="text-align: right; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">11:00am – 6:00pm</div>
        </div>
        <div style="width: 90px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 1px black solid"></div>
        <div style="flex: 1 1 0; height: 14px; justify-content: flex-start; align-items: flex-start; gap: 28px; display: flex">
          <div style="flex: 1 1 0; text-align: justify; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">Kitchen</div>
          <div style="text-align: right; color: black; font-size: 20px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 3px; word-wrap: break-word">11:00am – 8:00pm</div>
        </div>
      </div>
    </div>
    <div style="left: 360px; top: 1455px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex">
      <div style="width: 1200px; text-align: center; color: black; font-size: 56px; font-family: Catalogue LL; font-weight: 400; line-height: 66px; letter-spacing: 8.40px; word-wrap: break-word">The banana pancakes with cinnamon and honey are among     the favorites</div>
      <div style="width: 896px; text-align: justify; color: black; font-size: 22px; font-family: Catalogue LL; font-weight: 400; line-height: 32px; word-wrap: break-word">Green sustainability was important to us when we built Lost Paradise. We also wanted to create something that goes in line with local traditions and architecture. The majestic Javanese Joglo was built using traditional building techniques and recycled wood from the forests of Borneo. Under its roof you will experience the beauty of open air living in the tropics. We source our ingredients locally and our staff prepares a selection of local Indonesian dishes, freshly blended fruit smoothies and cold beverages for you to enjoy in the shade of the joglo or in the loungers by the pool.</div>
    </div>
    <div style="width: 1920px; height: 271px; left: 0px; top: 5386px; position: absolute; background: #F8F7F3">
      <div style="width: 1920px; height: 0px; left: 1920px; top: 315.33px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1.33px #B5B1A9 solid"></div>
      <div style="width: 1920px; height: 0px; left: 1920px; top: 0.50px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1px black solid"></div>
      <div style="height: 67px; left: 973.33px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Frequently asked questions</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Terms and Conditions</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Privacy Policy</div>
      </div>
      <div style="height: 171px; left: 511px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 13.33px; display: inline-flex">
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Story</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Accomodation</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Restaurant</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Resort</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Explore the Island</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">General Lee’s Bar</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Contact</div>
      </div>
      <div style="height: 171px; left: 511px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 13.33px; display: inline-flex">
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Story</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Accomodation</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Restaurant</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Resort</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Explore the Island</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">General Lee’s Bar</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Contact</div>
      </div>
      <div style="height: 92px; left: 50px; top: 50px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 13.33px; display: inline-flex">
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Lost Paradise</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Gili Trawangan</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Lombok, Nusa Tenggara Barat</div>
        <div style="align-self: stretch; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 2.70px; word-wrap: break-word">Indonesia 83356</div>
      </div>
      <div style="padding-top: 5px; padding-bottom: 5px; padding-left: 22px; padding-right: 5px; left: 1500px; top: 50px; position: absolute; border-radius: 133.33px; overflow: hidden; border: 1px #B5B1A9 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div style="justify-content: flex-start; align-items: center; gap: 27px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: center; gap: 10px; display: flex">
            <div style="width: 16px; height: 16px; background: black"></div>
            <div style="color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; word-wrap: break-word">9.4</div>
          </div>
          <div style="padding-left: 24px; padding-right: 24px; padding-top: 20px; padding-bottom: 20px; border-radius: 133.33px; overflow: hidden; border: 1px black solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 30px; display: inline-flex">
              <div style="color: black; font-size: 14px; font-family: Catalogue LL; font-weight: 400; line-height: 18px; letter-spacing: 3.50px; word-wrap: break-word">READ REVIEWS</div>
              <div style="width: 25px; height: 0px; border: 1px black solid"></div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 54px; height: 54px; padding-left: 1.33px; padding-right: 0.67px; left: 1747px; top: 167px; position: absolute; border-radius: 266.67px; overflow: hidden; border: 1px black solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 52px; text-align: center; color: black; font-size: 14px; font-family: Catalogue LL; font-weight: 400; line-height: 18px; letter-spacing: 3.50px; word-wrap: break-word">FB</div>
      </div>
      <div style="width: 54px; height: 54px; padding-left: 1.33px; padding-right: 0.67px; left: 1816px; top: 167px; position: absolute; border-radius: 266.67px; overflow: hidden; border: 1px black solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 52px; text-align: center; color: black; font-size: 14px; font-family: Catalogue LL; font-weight: 400; line-height: 18px; letter-spacing: 3.50px; word-wrap: break-word">IG</div>
      </div>
    </div>
    <div style="width: 1324px; height: 0px; left: 960px; top: 2241px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #B5B1A9 solid"></div>
    <div style="width: 1920px; height: 0px; left: 1920px; top: 3565px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1px #B5B1A9 solid"></div>
    <div style="width: 1820px; height: 0px; left: 1870px; top: 4129px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1px #B5B1A9 solid"></div>
    <div style="width: 1920px; height: 0px; left: 1920px; top: 2241px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1px #B5B1A9 solid"></div>
    <div style="left: 160px; top: 2401px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
      <div style="width: 640px; height: 924px; background: #B5B1A9; flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="width: 640px; height: 924px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 640px; height: 924px" src="https://via.placeholder.com/640x924" />
          <img style="width: 640px; height: 960px" src="https://via.placeholder.com/640x960" />
        </div>
      </div>
      <div style="height: 80px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex">
        <div style="align-self: stretch; text-align: center; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; word-wrap: break-word">Lost Paradise is a place for art, the people who make it and the people who love it. Our apartments are really</div>
        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Catalogue LL; font-weight: 400; text-transform: capitalize; line-height: 20px; word-wrap: break-word">– 1 –</div>
      </div>
    </div>
    <div style="left: 1120px; top: 2401px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
      <div style="width: 640px; height: 924px; background: #B5B1A9; flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="width: 640px; height: 924px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <img style="width: 640px; height: 924px" src="https://via.placeholder.com/640x924" />
          <img style="width: 640px; height: 960px" src="https://via.placeholder.com/640x960" />
        </div>
      </div>
      <div style="height: 80px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex">
        <div style="align-self: stretch; text-align: center; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; word-wrap: break-word">Lost Paradise is a place for art, the people who make it and the people who love it. Our apartments are really</div>
        <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Catalogue LL; font-weight: 400; text-transform: capitalize; line-height: 20px; word-wrap: break-word">– 1 –</div>
      </div>
    </div>
    <div style="left: 360px; top: 3695px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 70px; display: inline-flex">
      <div style="width: 1200px; text-align: center; color: black; font-size: 56px; font-family: Catalogue LL; font-weight: 400; line-height: 66px; letter-spacing: 8.40px; word-wrap: break-word">From local Indonesian dishes to freshly blended fruit smoothies</div>
      <div style="padding-top: 17px; padding-bottom: 20px; padding-left: 26px; padding-right: 26px; border-radius: 133.33px; overflow: hidden; border: 1.33px black solid; justify-content: center; align-items: center; gap: 13.33px; display: inline-flex">
        <div style="color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; letter-spacing: 4.50px; word-wrap: break-word">menu</div>
      </div>
    </div>
    <div style="width: 1046px; height: 851px; padding: 50px; left: 205px; top: 4259px; position: absolute; background: #F8F7F3; border: 1.33px #B5B1A9 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
        <div style="width: 946px; background: #B5B1A9; justify-content: center; align-items: center; display: inline-flex">
          <img style="width: 946px; height: 1420px" src="https://via.placeholder.com/946x1420" />
        </div>
        <div style="align-self: stretch; height: 80px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex">
          <div style="align-self: stretch; text-align: center; color: black; font-size: 18px; font-family: Catalogue LL; font-weight: 400; line-height: 26px; word-wrap: break-word">Lost Paradise is a place for art, the people who make it and the people who love it. Our apartments are really special (think huge windows</div>
          <div style="align-self: stretch; text-align: center; color: black; font-size: 16px; font-family: Catalogue LL; font-weight: 400; text-transform: capitalize; line-height: 20px; word-wrap: break-word">– 1 –</div>
        </div>
      </div>
    </div>
    <div style="padding-right: 6px; left: 1588px; top: 4309px; position: absolute; background: #B5B1A9; justify-content: flex-start; align-items: center; display: inline-flex">
      <img style="width: 940px; height: 1411.08px" src="https://via.placeholder.com/940x1411" />
    </div>
    <div style="width: 226px; height: 76px; padding: 10px; left: 847px; top: 5180px; position: absolute; border-radius: 133.33px; overflow: hidden; border: 1px #B5B1A9 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="justify-content: center; align-items: center; gap: 18px; display: inline-flex">
        <div style="width: 56px; height: 56px; position: relative; border-radius: 133.33px; overflow: hidden; border: 1px black solid">
          <div style="width: 28px; height: 10px; left: 42px; top: 33px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1px black solid"></div>
        </div>
        <div style="width: 11px; text-align: center; color: black; font-size: 16px; font-family: Catalogue LL; font-weight: 400; text-transform: capitalize; line-height: 22px; word-wrap: break-word">1</div>
        <div style="width: 0px; height: 56px; border: 1px black solid"></div>
        <div style="width: 11px; text-align: center; color: black; font-size: 16px; font-family: Catalogue LL; font-weight: 400; text-transform: capitalize; line-height: 22px; word-wrap: break-word">6</div>
        <div style="width: 56px; height: 56px; position: relative; border-radius: 133.33px; overflow: hidden; border: 1px black solid">
          <div style="width: 28px; height: 10px; left: 14px; top: 23px; position: absolute; border: 1px black solid"></div>
        </div>
      </div>
    </div>
  
  </div>