<div class="row">
    <div class="col-2">
      <div class="stackParent">
        <img
          class="stack-Img img-fluid"
          src="../../../assets/Images/widebungalow.jpg"
        />
        <div class="stack-Txt">
          <div class="text-center text-nowrap">Accomodation 49.2107581N, 16.6188150E</div>
        </div>
      </div>
    </div>
  </div>
  
  <h1>
    Charming bungalows embedded in nature, each with it’s own unique character and style
  </h1>
  <p class="minitext text-center">
    We offer a variety of room types to best meet your holiday needs. All of our rooms are air-conditioned and come with fresh towels and linen. We also made sure to equip each room type with it’s own little terrace in front of the room, en suite bath room and a king or queen size bed. Breakfast is always included with your stay. Starting from 8:00AM we are serving ala carte breakfast with a selection of cook to order options. The banana pancakes with cinnamon and honey or chocolate topping are among the favorites. We also offer a classic continental breakfast and a vegan option with your choice of tea or Lombok coffe.
  </p>

  <div class="row border container-fluid">
    <div class="col p-4  border-end">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text text-center">
            Lost Paradise is a place for art, the people who make it and the
            people who love it. Our apartments are really
          </p>
          <p class="card-text text-center">-1-</p>
        </div>
      </div>
    </div>
    <div class="col  p-4 ">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text text-center">
            Lost Paradise is a place for art, the people who make it and the
            people who love it. Our apartments are really
          </p>
          <p class="card-text text-center">-1-</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row border container-fluid">
    <div class="col p-4  border-end">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text text-center">
            Lost Paradise is a place for art, the people who make it and the
            people who love it. Our apartments are really
          </p>
          <p class="card-text text-center">-1-</p>
        </div>
      </div>
    </div>
    <div class="col  p-4 ">
      <div class="card" style="width: 28rem">
        <img
          class="card-img-top"
          src="../../../assets/Images/34b30fd529934faf3e0c02e66d8e3033.jfif"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text text-center">
            Lost Paradise is a place for art, the people who make it and the
            people who love it. Our apartments are really
          </p>
          <p class="card-text text-center">-1-</p>
        </div>
      </div>
    </div>
  </div>
  
  <h1>
    Hosting a private event or a yoga retreat?
  </h1>
  <p class="minitext text-center">
    Are you interested in the entire resort to host a private event, a birthday party or a holistic yoga retreat? Get in touch and let’s work together to tailor an unforgettable experience for your guests. 
  </p>